# Ignore hidden files
.*
# Ignore ldsym
ldsym
# Ignore objects
*.o
# Ignore preprocessed assembler files
*.s
# Ignore images
*.img
# Ignore target
*.elf
# Ignore misc binaries
smp
vesa
elf/elf
fs/main
